@font-face {
	font-family: 'gillsansmt';
	src: url('../font/gillsansmt.eot');
	src: local('gillsansmt'), url('../font/gillsansmt.woff') format('woff'), url('../font/gillsansmt.ttf') format('truetype');
}

html, body {
    font-family: "gillsansmt", Calibri, sans-serif;
    background: radial-gradient(closest-side at 45% 45%, #F0F0F0, #ACAEAE);
    line-height: 1;
}

@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}

#main-logo {
    margin-top: 100px;
}

.lead {
    color: #871536;
    margin-top: 70px;
    font-size: 22px;
}

.lead p {
    margin-bottom: 0;
    text-align: center;
}

span + span {
    margin-left: 30px;
}

.contacts {
    margin-top: 30px;
    font-size: 17px;
}

.contacts p {
    margin-bottom: 0;
    text-align: center;
}

.contacts a {
    color: #0303C4;
    text-decoration: underline;
}
